<!DOCTYPE html>
<html>
<head>
  <title>Shawn Wilkinson - Web Developer</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>


<body>


  <div id="mainnav" class="ui top fixed menu">
    <a class="item" href="/"><i class="send icon"></i></a>
    <%= link_to "About", about_path, :class => "item"%>
    <%#= link_to "Blog", posts_path, :class => "item"%>
    <%= link_to "Projects", projects_path, :class => "item"%>
  </div>
  <!--                                                                                                                 ,---.
,--.          ,--. ,--.         ,--.   ,--.           ,--.        ,--------.                  ,--. ,--.                |   |
|  |   ,---.,-'  '-|  ,---.     |  |   |  |,---.,--.--|  |,-.     '--.  .--,---. ,---. ,---.,-'  '-|  ,---. ,---.,--.--|  .'
|  |  | .-. '-.  .-`-(  .-'     |  |.'.|  | .-. |  .--|     /        |  | | .-. | .-. | .-. '-.  .-|  .-.  | .-. |  .--|  |
|  '--\   --. |  |   .-'  `)    |   ,'.   ' '-' |  |  |  \  \        |  | ' '-' ' '-' \   --. |  | |  | |  \   --|  |  `--'
`-----'`----' `--'   `----'     '--'   '--'`---'`--'  `--'`--'       `--'  `---'.`-  / `----' `--' `--' `--'`----`--'  .--.
                                                                                `---'                                  '--'

-->

  <div class="container">
    <div class="ui grid">
      <%= yield %>
    </div>
  </div>
    <div id="mainfooter" class="ui inverted vertical fixed footer segment">
      <a href="https://twitter.com/ShawnWilkinson_" target="_blank"><i class="twitter icon"></i></a>
      <a href="https://www.linkedin.com/in/shawndwilkinson" target="_blank"><i class="linkedin icon"></i></a>
      <a href="https://github.com/shawndav" target="_blank"><i class="github icon"></i></a>
      <a href="mailto:shawnwilkinson11@gmail.com" target="_blank"><i class="mail outline icon"></i></a>
    </div>


</body>
</html>
