<!DOCTYPE html>
<html>
<head>
  <title>Shawn Wilkinson - Web Developer</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>


<body>


  <div class="ui top fixed menu">
    <div class="item">
      <i class="send icon"></i>
    </div>
    <%= link_to "Home", root_path, :class => "item"%>
    <%= link_to "About", about_path, :class => "item"%>
    <%= link_to "Blog", posts_path, :class => "item"%>
    <%= link_to "Projects", projects_path, :class => "item"%>
  </div>
  <br>
  <br>

  <div class="container">
    <%= yield %>

    <div class="ui inverted vertical fixed footer segment">
      <a href=""><i class="twitter icon"></i></a>
      <a href=""><i class="linkedin icon"></i></a>
      <a href=""><i class="github icon"></i></a>
      <a href=""><i class="send icon"></i></a>
    </div>
  </div>

</body>
</html>
